# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Translations
*.mo
*.pot
# Django
migrations/
db.sqlite3
db.sqlite3-journal

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/



# Environments
.env
.venv
env/
venv/
